
#home_header{
	margin: 0;
	padding: 0;
	height: 70px;
}

/* 导航开始*/
.navbar{
	height: 71px;
}

#navbar-collapse img{
	width: 20px;
	height: 20px;
}
#navbar-collapse a{
	display: inline-block;
	font-family: "微软雅黑";
	font-size: 13pt;
	height: 40px;
	margin-top: 10px;
	margin-right:15px ;
}
#navbar-collapse a:hover{
	color: #0076CA;
}

.navbar-toggle{
	margin-top: 20px;
	line-height: 70px;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 450px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background: #F8F8F8;
}

.bgColor{
	color: #0076CA !important;
}
/* 导航结束*/


/* Logo开始 */
.navbar-header{
	line-height: 70px;
}
.navbar-header img{
	height: 55px;
	width: 100px;
	margin-left: 15px;
}
/* Logo结束 */

/* 页脚开始 */
#home_foot{
	margin:0 auto;
	padding: 0;
	background: #1F2229;
}
.foot_content{
	text-align: center;
	margin: 0 auto;
	margin-top: 60px;

}
.foot_content p{
	font-family: "微软雅黑";
	color: #A5A4A5;
	font-size: 9pt;
	text-align: center;
}
#foot_copyright{
	width: 100%;
	margin-bottom: 20px;
	font-family:"微软雅黑" ;
	font-size: 9pt;
	text-align: center;
	line-height: 10px;
	color: #A5A4A5;
}
#foot_about{
	text-align: center;
	margin-top: 30px;
	line-height: 13px;
}
#foot_about h3{
	font-family:"微软雅黑" ;
	color: #FFFFFF;
	font-size: 12pt;
}
#foot_about a{
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 10pt;
	color: #A5A4A5;
}
#foot_link{
	text-align: center;
	margin-top: 30px;
	line-height: 13px;
}
#foot_link h3{
	font-family:"微软雅黑" ;
	color: #FFFFFF;
	font-size: 12pt;
}
#foot_link a{
	text-decoration: none;
	font-family: "微软雅黑";
	font-size: 10pt;
	color: #A5A4A5;
}
/* 页脚结束 */

/*about 内容开始*/

/*==========* 样式开始 ===============*/
* {
	font-family: "微软雅黑";
}

body {
	background: url(../img/about-body-bg.png);
	background-size: cover;
}
a {
		color:black;
	}

.p-style {
	font-size: 18px;
	font-family: "微软雅黑";
	font-size-adjust: inherit;
	padding: 20px;
}
.p-style-indent {
	text-indent: 36px;
	font-size: 16px;
}
.font-w {
	font-weight: 700;
}
/*==========* 样式结束 ===============*/

/*==========about-0 photos-wrapper展示部分的内容===============*/

#center{
	text-align: center;
	margin-bottom: 20px;
}
.row1{
	margin-top: 50px;
}
/*==========about-0 photos-wrapper 展示结束===============*/

/*==========about-1 文字说明开始===============*/

#about-1 {
	font-size: 12px;
	font-family: "微软雅黑";
	margin-bottom: 80px;
	margin-top: 50px;
	padding-bottom: 60px;
	background: url(../img/about1bg01.png);
	background-size: cover;
}
#about-1 img {
	padding: 0;
}
.about-1-title {
	margin: 20px 0 0 20px;
}

.about-1-title h2 {
	padding: 10px;
}
#btn {
	margin: 30px 0 0 0;
	float: right;
}

/*==========about-1 文字说明结束===============*/



/*==========about-1 talk 部分的内容开始===============*/


#about-2 {
	background: url(../img/about2-bg.jpg);
	background-size: cover;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0 50px 0 50px;
	padding-bottom: 40px;
	position: relative;

}

#about-2 h3 {
	padding: 25px;
}
.fright {
	position: relative;
	float: right;
	right: 0px;
	margin: 10px 0 0 10px;
}
.margin-t {
	margin-top: 20px;
}
.margin-b {
	margin-bottom: 10px;
}

/*==========about-1 talk 部分的内容结束===============*/

