 *{  
   margin: 0px;  
   padding: 0px;  
}  
video{  
    position: fixed;  
    right: 0px;  
    bottom: 0px;  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/  
    /*filter:grayscale(100%); //背景灰度设置*/  
    z-index:-11
    }  
source{  
    min-width: 100%;  
    min-height: 100%;  
    height: auto;  
    width: auto;  
    } 
.bg_class {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px
}

.text_class {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.btn_class {
    background-color: #43bc71;
    border: 1px solid #2b9152;
    transition: background-color .5s ease;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
}

.btn_class:hover {
    background-color: #2b9152
}

.text_class h1 {
    font-size: 60px;
    color: #fff;
}

.text_class p {
    font-size: 30px;
    color: #fff;
    padding: 20px 0px;
}