body{
	margin: 0;
	background-color: #b8e5f8;
	background-image: url(../images/bg.jpg);
	width: 100%;
}
#main{
	height: 580px;
	width: 430px;
	margin: 0 auto;
	margin-top: 200px;
}
#main-top{
	height: 500px;
	width: 430px;
	background-color: #fff;
	margin-bottom: 30px;
}

#main-bottom{
	height: 45px;
	width: 430px;
	background-color: #8590a6;
}

#logo{
	width: 190px;
	margin:0 auto;
	padding-top: 30px;
}
h2{
	font-weight: 100;
	font-size: 22px;
	color: #0084FF;
	margin-top: 15px;
	text-align: center;
}
#anniu-all{
	width: 352px;
	margin:0 auto;
}
.anniu{
	height: 48px;
	width: 352px;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
	border: 0px;
	border-bottom: 1px solid #CCC;
}
.zhuce{
	background-color: #0084FF;
	height: 38px;
	width:352px;
	border-color: #0084FF;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom:10px;
}