body{
	margin: 0;
	width: 100%;
	color: #fff;
	font-size: 13px;
}
#all{
	margin: 0 auto;
	width: 1020px;
}
h4{
	color: #000;
}
p{
	color: #000;
}

.contenttext{
	text-indent: 2em;
}
.footertext{
	text-align: center;
}
#logo{
	float: left;
	padding-left: 50px;
	padding-right: 50px;
}
#nav{
	padding-top: 20px;
	font-size: 16px;
}