@charset "utf-8";
body {
    margin: 0;
    background-color: #f5f5f5;
}
h1 {
    font-size: 19px;
    text-align: center;
    padding-top: 20px;
}
table {
    background-color: #fff;
    width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}
table tr {
    height: 50px;
}
table tr td {
    padding-left: 40px;
}
.new_button {
    width: 90px;
    background-color: #53a4f4;
    color: #fff;
    border-radius: 20px;
    border: 0;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
